<div class="row">
  <div class="col-xs-12">
    <h6> Recipe Details Component </h6>
    <h2> Recipe Name : {{recipe.name }}</h2>
    <br>
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.imagePath }}"
      class="img-responsive"
    style="max-height: 400px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
<br>
<div class="=row">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes<span class ="caret"></span>
    </button>
  <ul class="dropdown-menu">
    <li><a href="#"> To Shopping List</a></li>
    <li><a href="#"> Edit Recipe </a></li>
    <li><a href="#"> Delete Recipe</a></li>
  </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <b> Description : {{ recipe.description }}</b>
  </div>
</div>
<div class="row">
<div class="col-xs-12">
  Ingredients
</div>
</div>
