<div class="row">
  <div class="col-xs-12">
    <h6> Recipe Details Component </h6>
    <h2> Recipe Name : {{recipe.name }}</h2>
    <br>
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.imagePath }}"
      class="img-responsive"
    style="max-height: 400px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
<br>
<div class="=row">
  <div
    class="btn-group" appDropdown>
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class ="caret"></span>
    </button>
  <ul class="dropdown-menu">
    <li class="list-group-item"><a (click)="onAddToShoppingList()" style="cursor: pointer"> To Shopping List</a></li>
    <li class="list-group-item"><a href="#"> Edit Recipe </a></li>
    <li class="list-group-item"><a href="#"> Delete Recipe</a></li>
  </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="text-center" ><b> Description : {{ recipe.description }} </b></div>
  </div>
</div>
<div class="row">
<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item"
     *ngFor="let tempingredients of recipe.ingredients ">
    {{ tempingredients.name}} - Nos. {{ tempingredients.amount}}
    </li>
  </ul>

</div>
</div>


