<!-- Binding to router link to get the index in
form of id in the url-->
<a style="cursor: pointer"
        [routerLink]="[index]"
        routerLinkActive="active"
        class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading"><b> Recipe Name : </b>{{ recipe.name }} </h4>
        <p class="list-group-item-text"><b> Description : </b> {{ recipe.description }}</p>
    </div>
    <!--In the src method I have used the property binding instead of String Interpolation "Due to unsafe path something error"-->
    <span class="pull-right">
        <img
                src={{recipe.imagePath}}
                alt=" {{ recipe.name}}"
                class="img-responsive"
                style="max-height:50px;">
      </span>
    <!--[src]=" recipe.imagePath "property binding -->
</a>
